<br />
<h3> Organized with the support of</h3></br />
<div class='row-fluid' >
  <table>
    <tr>
      <td><%= link_to (image_tag 'nus_logo.svg', :width => '150'), 'http://nus.edu.sg' %> </td>
      <td><%= link_to (image_tag 'fsf_logo.svg', :width => '150'), 'http://www.fsf.org' %> </td>
      <td><%= link_to (image_tag 'usp_logo.png', :width => '150'), 'http://usp.nus.edu.sg' %> </td>
      <td><%= link_to (image_tag 'soc_logo.jpg', :width => '150'), 'http://comp.nus.edu.sg' %> </td>
      <td><%= link_to (image_tag 'utown_logo.png', :width => '150'), 'http://utown.nus.edu.sg' %></td>
</tr>
</table>
</div>
