<br />
<h3> Organized with the support of</h3></br />
<%= link_to (image_tag 'nus_logo.svg', :width => '200'), 'http://nus.edu.sg' %><br /></br />
<%= link_to (image_tag 'fsf_logo.svg', :width => '200'), 'http://www.fsf.org' %><br /></br />
<%= link_to (image_tag 'usp_logo.png', :width => '200'), 'http://usp.nus.edu.sg' %><br /></br />
<%= link_to (image_tag 'soc_logo.jpg', :width => '200'), 'http://comp.nus.edu.sg' %><br /></br />
<%= link_to (image_tag 'utown_logo.png', :width => '200'), 'http://utown.nus.edu.sg' %><br /></br />

