<br />
<h3> Organized with the support of</h3></br />
<%= image_tag 'nus_logo.svg', :width => '200' %><br /></br />
<%= image_tag 'fsf_logo.svg', :width => '200' %><br /></br />
<%= image_tag 'usp_logo.png', :width => '200' %><br /></br />
<%= image_tag 'soc_logo.jpg', :width => '200' %><br /></br />
<%= image_tag 'utown_logo.png', :width => '200' %><br /></br />

