<h1>Homes</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @homes.each do |home| -%>
   <tr>
    <td><%= home.id %></td>
        <td><%= home.created_at %></td>
    <td>
      <%= link_to "Show", home_path(home) %>
      <%= link_to "Edit", edit_home_path(home) %>
      <%= link_to "Destroy", home_path(home), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_home_path, :class => 'btn btn-primary' %>
