<h1> Posters</h1><hr />
<div class='row-fluid'>
  <% @posters.each do |poster| %>
    <div class='span3'>
      <%= image_tag poster.fetch(:low) %>
    </div>
    <div class='span3'>
      <p><strong>Download:</strong></p>
      <ul>
        <li><%= link_to 'High Resolution - jpg', (image_path poster.fetch(:high)) %></li>
        <li><%= link_to 'Source - xcf', (image_path poster.fetch(:source)) %></li>
        <li><%= link_to 'A3 Poster - pdf', (image_path poster.fetch(:a3)) %></li>
        <li><%= link_to 'A2 Poster - pdf', (image_path poster.fetch(:a2)) %></li>
      </ul>
    </div>
  <% end %>
</div>
<hr />
