<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Richard stallman is coming to NUS to talk about Free Software and the importance of freedom in the digital era." />
    <meta name="keywords" content="nus richard stallman, stallman singapore, richard, richard stallman, richards stallman talk, richard stallman in singapore" />

    <meta property="og:title" content="Richard Stallman comes to Singapore; March 13th-14th 2012"/>
    <meta property="og:site_name" content="freesoftware.sg"/>
    <meta property="og:image" content="http://freesoftware.sg/assets/stallman-e91a7fef4fa293988ba1f0865bf1ccd7.jpg"/>
    <meta property="og:description" content="Richard stallman is coming to NUS to talk about Free Software and the importance of freedom in the digital era."/>
    <meta name="google-site-verification" content="yXXD2SYz9D7yM2lSgmUy08cdhHzNyxXJ2aMPRvxo0pE" />
    <title>Richard Stallman in Singapore</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le fav and touch icons -->
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="i-bar"></span>
            <span class="i-bar"></span>
            <span class="i-bar"></span>
          </a>
          <div class="container">
            <ul class="nav">
              <li><%= link_to "Home", "/"  %></li>
              <li><%= link_to "FAQ", "/faq"  %></li>
              <li><%= link_to "Directions", "/directions"  %></li>
              <li><%= link_to "Resources", "/resources"  %></li>
              <li><%= link_to "Contact", "/contact"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class='row-fluid'>
          <div class='span7'>
            <h1> Richard Stallman </h1>
            <h3> in Singapore </h3><br />
          </div>
          <div class='span4'>
            <h2> 13-14 March 2012</h2>
          </div>
        </div>
        <hr>
        <%= yield %>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29431538-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
